<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>16G29</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>zh_CN</string>
	<key>CFBundleDisplayName</key>
	<string>挚爱云音乐</string>
	<key>CFBundleExecutable</key>
	<string>neteasemusic</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon20x20</string>
				<string>AppIcon29x29</string>
				<string>AppIcon40x40</string>
				<string>AppIcon57x57</string>
				<string>AppIcon60x60</string>
			</array>
			<key>CFBundleIconName</key>
			<string>AppIcon</string>
			<key>UIPrerenderedIcon</key>
			<true/>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>com.netease.cloudmusic</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>网易云音乐</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>4.3.2</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>iPhoneOS</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>weixin.test</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>wx5c47cbf956163474</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>orpheus</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>cloudmusicopenapi</string>
				<string>orpheus</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>weixin</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>wx8dd6ecd81906fd84</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>tencentopenapi</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>tencent100495085</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>yixin</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>yx239b74da211341979c340fb49b1fb16b</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>weibo.online</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>wb301575942</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>weibo.test</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>wb845657388</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>orpheus.widget</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>orpheuswidget</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>alipay</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>alipayneteasemusic</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>896</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>15B87</string>
	<key>DTPlatformName</key>
	<string>iphoneos</string>
	<key>DTPlatformVersion</key>
	<string>11.1</string>
	<key>DTSDKBuild</key>
	<string>15B87</string>
	<key>DTSDKName</key>
	<string>iphoneos11.1</string>
	<key>DTXcode</key>
	<string>0910</string>
	<key>DTXcodeBuild</key>
	<string>9B55</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>tim</string>
		<string>kaola</string>
		<string>mqqopensdkapiV2</string>
		<string>mqqwpa</string>
		<string>wtloginmqq2</string>
		<string>mqzone</string>
		<string>safepay</string>
		<string>alipay</string>
		<string>wechat</string>
		<string>weixin</string>
		<string>mqqapi</string>
		<string>yixinopenapi</string>
		<string>yixin</string>
		<string>weibosdk</string>
		<string>weibosdk2.5</string>
		<string>sinaweibo</string>
		<string>sinaweibohd</string>
		<string>sinaweibosso</string>
		<string>sinaweibohdsso</string>
		<string>mttbrowser</string>
		<string>mqqbrowser</string>
		<string>mqqopensdkapiV3</string>
		<string>mqq</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MinimumOSVersion</key>
	<string>8.0</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>允许网易云音乐获取并播放你的本地iPod歌曲。</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>你可以通过蓝牙连接你的网易云音乐车载蓝牙播放器。</string>
	<key>NSCalendarsUsageDescription</key>
	<string>你可以在系统日历中添加本场演出的提醒。</string>
	<key>NSCameraUsageDescription</key>
	<string>你可以设置头像、个人主页背景，还可以发送带图的音乐动态及私信。</string>
	<key>NSContactsUsageDescription</key>
	<string>你可以发现正在使用云音乐的好友，还能查看他们的歌单和音乐动态。</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>你可以发现附近的人在听的歌，还能免费获得演出门票。</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>你可以使用听歌识曲功能，识别周围正在播放的歌曲。</string>
	<key>NSMotionUsageDescription</key>
	<string>根据你的步频，智能推荐适合跑步的歌曲。</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>你可以设置头像、个人主页背景，还可以发送带图的音乐动态及私信。</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>你可以设置头像、个人主页背景，还可以发送带图的音乐动态及私信。</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>external-accessory</string>
	</array>
	<key>UIBrowsableContentSupportsSectionedBrowsing</key>
	<true/>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
	</array>
	<key>UILaunchImageFile</key>
	<string>LaunchImage</string>
	<key>UILaunchImages</key>
	<array>
		<dict>
			<key>UILaunchImageMinimumOSVersion</key>
			<string>11.0</string>
			<key>UILaunchImageName</key>
			<string>LaunchImage-1100-Portrait-2436h</string>
			<key>UILaunchImageOrientation</key>
			<string>Portrait</string>
			<key>UILaunchImageSize</key>
			<string>{375, 812}</string>
		</dict>
		<dict>
			<key>UILaunchImageMinimumOSVersion</key>
			<string>8.0</string>
			<key>UILaunchImageName</key>
			<string>LaunchImage-800-Portrait-736h</string>
			<key>UILaunchImageOrientation</key>
			<string>Portrait</string>
			<key>UILaunchImageSize</key>
			<string>{414, 736}</string>
		</dict>
		<dict>
			<key>UILaunchImageMinimumOSVersion</key>
			<string>8.0</string>
			<key>UILaunchImageName</key>
			<string>LaunchImage-800-667h</string>
			<key>UILaunchImageOrientation</key>
			<string>Portrait</string>
			<key>UILaunchImageSize</key>
			<string>{375, 667}</string>
		</dict>
		<dict>
			<key>UILaunchImageMinimumOSVersion</key>
			<string>7.0</string>
			<key>UILaunchImageName</key>
			<string>LaunchImage-700</string>
			<key>UILaunchImageOrientation</key>
			<string>Portrait</string>
			<key>UILaunchImageSize</key>
			<string>{320, 480}</string>
		</dict>
		<dict>
			<key>UILaunchImageMinimumOSVersion</key>
			<string>7.0</string>
			<key>UILaunchImageName</key>
			<string>LaunchImage-700-568h</string>
			<key>UILaunchImageOrientation</key>
			<string>Portrait</string>
			<key>UILaunchImageSize</key>
			<string>{320, 568}</string>
		</dict>
	</array>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleBlackOpaque</string>
	<key>UISupportedExternalAccessoryProtocols</key>
	<array>
		<string>com.ford.sync.prot0</string>
		<string>com.smartdevicelink.prot0</string>
		<string>com.smartdevicelink.prot1</string>
		<string>com.smartdevicelink.prot2</string>
		<string>com.smartdevicelink.prot3</string>
		<string>com.smartdevicelink.prot4</string>
		<string>com.smartdevicelink.prot5</string>
		<string>com.smartdevicelink.prot6</string>
		<string>com.smartdevicelink.prot7</string>
		<string>com.smartdevicelink.prot8</string>
		<string>com.smartdevicelink.prot9</string>
		<string>com.smartdevicelink.prot10</string>
		<string>com.smartdevicelink.prot11</string>
		<string>com.smartdevicelink.prot12</string>
		<string>com.smartdevicelink.prot13</string>
		<string>com.smartdevicelink.prot14</string>
		<string>com.smartdevicelink.prot15</string>
		<string>com.smartdevicelink.prot16</string>
		<string>com.smartdevicelink.prot17</string>
		<string>com.smartdevicelink.prot18</string>
		<string>com.smartdevicelink.prot19</string>
		<string>com.smartdevicelink.prot20</string>
		<string>com.smartdevicelink.prot21</string>
		<string>com.smartdevicelink.prot22</string>
		<string>com.smartdevicelink.prot23</string>
		<string>com.smartdevicelink.prot24</string>
		<string>com.smartdevicelink.prot25</string>
		<string>com.smartdevicelink.prot26</string>
		<string>com.smartdevicelink.prot27</string>
		<string>com.smartdevicelink.prot28</string>
		<string>com.smartdevicelink.prot29</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
